<%- include('../baseHeader') -%>
<div class="container main-content my-5">
  <!-- Title -->
  <h1 class="mb-4">
    Site Administration
  </h1>

  <!-- Models Table -->
  <div class="table-container mt-5">
    <table class="table admin-table table-striped table-hover">
      <thead>
        <tr class="bg-ds-secondary">
          <th colspan="2" class="text-center text-white">Models</th>
        </tr>
      </thead>
      <tbody>
        <!-- Models -->
        <tr>
          <td class="w-75"><a href="/admin/user">Users</a></td>
          <td>
            <a href="/admin/user/add">
              <span class="material-symbols-outlined fs-6 fw-bold">add</span>
              Add
            </a>
          </td>
        </tr>
        <tr>
          <td><a href="#">Projects</a></td>
          <td>
            <a href="#">
              <span class="material-symbols-outlined fs-6 fw-bold">add</span>
              Add
            </a>
          </td>
        </tr>
        <tr>
          <td><a href="#">Documents</a></td>
          <td>
            <a href="#">
              <span class="material-symbols-outlined fs-6 fw-bold">add</span>
              Add
            </a>
          </td>
        </tr>
        <tr>
          <td><a href="#">Pages</a></td>
          <td>
            <a href="#">
              <span class="material-symbols-outlined fs-6 fw-bold">add</span>
              Add
            </a>
          </td>
        </tr>
        <tr>
          <td><a href="#">Tags</a></td>
          <td>
            <a href="#">
              <span class="material-symbols-outlined fs-6 fw-bold">add</span>
              Add
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- include('../baseFooter') -%>