<%- include('../baseHeader') -%>
<div class="container main-content my-5">
  <!-- Title -->
  <h1 class="mb-4">
    Site Administration
  </h1>

  <!-- Models Table -->
  <div class="table-container">
    <table class="admin-table">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Models</th>
        </tr>
      </thead>
      <tbody>
        <!-- Models -->
        <tr>
          <td><a href="/admin/user">Users</a></td>
          <td>
            <a href="/admin/user/add">
              <span class="material-symbols-outlined">add</span>
              Add
            </a>
          </td>
        </tr>
        <tr>
          <td><a href="/admin/project">Projects</a></td>
          <td>
            <a href="/admin/project/add">
              <span class="material-symbols-outlined">add</span>
              Add
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- include('../baseFooter') -%>