<%- include('../baseHeader') -%>
<!-- Project Top Navbar -->
<nav class="navbar d-xl-none bg-ds-secondary" data-bs-theme="dark">
  <div class="container">
    <div class="row">
      <div class="col-auto" id="navbar-toggler">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
          aria-controls="offcanvasMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col" id="search">
        <form method="POST" class="d-flex justify-content-end" role="search" action="/project/search">
          <input
            class="form-control me-2 bg-white"
            type="keywords"
            name="keywords"
            placeholder="Search the documentation"
            aria-label="Search">
          <button class="btn btn-ds-outline-primary border-ds-primary"
            data-bs-toggle="tooltip" data-bs-placement="bottom" 
            data-bs-title='Search' type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="sideNav">
      <!-- Your navbar content here -->
    </div>
  </div>
</nav>
  
<!-- Offcanvas Navbar -->
<div class="offcanvas offcanvas-start bg-ds-secondary" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvasMenuLabel">DocuSourcery</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h1 class="fs-6 mb-2 text-start">
      Documentation Overview
    </h1>
    <a href="#">Principles and Objectives</a>
    <a href="#">Getting Started</a>
    <a href="#">Using the Data Layers Repository</a>
    <a href="#" role="button" class="dropdown-btn ml-auto active">
      <div class="row">
        <div class="col-10">
          Data Dictionary
        </div>
        <div class="col-2">
          <i class="fa fa-caret-down align-top"></i>
        </div>
      </div>
    </a>
    <div class="dropdown-container">
      <a href="#">Introduction</a>
      <a href="#">Data Standards/Schemas, Controlled Vocabularies & Encoding Schemes</a>
      <a href="#">Archival Collection Metadata Element Set</a>
      <a href="#">Serial Collection Metadata Element Set</a>
      <a href="#">Monograph Collection Metadata Element Set</a>
      <a href="#">Mixed Collection Metadata Element Set</a>
    </div>
    <a href="#" role="button" class="dropdown-btn ml-auto">
      <div class="row">
        <div class="col-10">
          Data Dictionary
        </div>
        <div class="col-2">
          <i class="fa fa-caret-down align-top"></i>
        </div>
      </div>
    </a>
    <div class="dropdown-container">
      <a href="#">Introduction</a>
      <a href="#">Data Standards/Schemas, Controlled Vocabularies & Encoding Schemes</a>
      <a href="#">Archival Collection Metadata Element Set</a>
      <a href="#">Serial Collection Metadata Element Set</a>
      <a href="#">Monograph Collection Metadata Element Set</a>
      <a href="#">Mixed Collection Metadata Element Set</a>
    </div>
    <a href="#">Application Profiles</a>
    <a href="#">Metadata Element Set Chart</a>
    <a href="#">Data Extraction and Transformation Workflow</a>
    <a href="#">Best Practices for Creating Extension Layers</a>
    <a href="#">Publishing an Extension Layer</a>
  </div>
</div>

<!-- Main Project Navbar & Content-->
<div class="container">
  <div class="row">
    <!-- Project Side Navbar -->
    <div class="col-xl-2 project-nav text-wrap py-4 .d-none .d-xl-block border-end">
      <h1 class="fs-6 mb-2 text-start">
        Documentation Overview
      </h1>
      <a href="#">Principles and Objectives</a>
      <a href="#">Getting Started</a>
      <a href="#">Using the Data Layers Repository</a>
      <a href="#" role="button" class="dropdown-btn ml-auto">
        <div class="row">
          <div class="col-10">
            Data Dictionary
          </div>
          <div class="col-2">
            <i class="fa fa-caret-down align-top"></i>
          </div>
        </div>
      </a>
      <div class="dropdown-container">
        <a href="#">Introduction</a>
        <a href="#">Data Standards/Schemas, Controlled Vocabularies & Encoding Schemes</a>
        <a href="#">Archival Collection Metadata Element Set</a>
        <a href="#">Serial Collection Metadata Element Set</a>
        <a href="#">Monograph Collection Metadata Element Set</a>
        <a href="#">Mixed Collection Metadata Element Set</a>
      </div>
      <a href="#" role="button" class="dropdown-btn ml-auto">
        <div class="row">
          <div class="col-10">
            Data Dictionary
          </div>
          <div class="col-2">
            <i class="fa fa-caret-down align-top"></i>
          </div>
        </div>
      </a>
      <div class="dropdown-container">
        <a href="#">Introduction</a>
        <a href="#">Data Standards/Schemas, Controlled Vocabularies & Encoding Schemes</a>
        <a href="#">Archival Collection Metadata Element Set</a>
        <a href="#">Serial Collection Metadata Element Set</a>
        <a href="#">Monograph Collection Metadata Element Set</a>
        <a href="#">Mixed Collection Metadata Element Set</a>
      </div>
      <a href="#">Application Profiles</a>
      <a href="#">Metadata Element Set Chart</a>
      <a href="#">Data Extraction and Transformation Workflow</a>
      <a href="#">Best Practices for Creating Extension Layers</a>
      <a href="#">Publishing an Extension Layer</a>
    </div>
    <!-- Main Content --> 
    <div class="col-12 col-xl-10">
      
      <div class="container py-5">
        <h1>
          Project
        </h1>
        <p>
          
        </p>
      </div>  
    </div>
    <!-- Section Nav -->
<!--     <div class="col-xl-2 project-nav text-wrap .d-none .d-xl-block border-start">
    </div>  -->
  </div>
</div>
<%- include('../baseFooter') -%>