<%- include('../baseHeader') -%>
  <h1>
    Sign Up
  </h1>

  <!-- Form -->
  <div class="row">
    <div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xxl-4">
      <form method="POST">
          
        <!-- Account Form -->
        <%- include('../snippets/account-form.ejs') -%>
  
        <!-- Profile Form -->
        <div class="collapse" id="profileFormCollapse">
          <%- include('../snippets/profile-form.ejs') -%>
        </div>
  
        <!-- Profile Fields Switch -->
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="profileFormSwitch"
          data-bs-toggle="collapse" data-bs-target="#profileFormCollapse" 
          aria-expanded="false" aria-controls="profileForm">
          <label class="form-check-label bold" for="profileFormSwitch">Enter profile information</label>
        </div>
  
        <!-- Submit Button -->
        <div class="col-md-12 text-center mt-4">
          <button type="submit" class="btn btn-6 btn-ds-primary">Submit</button>
        </div>  
      </form>
    </div>
  </div>

<%- include('../baseFooter') -%>