/* Global Variables */
:root {
  --primary-color: #4d0d89;
  --primary-color-dark: #3b056e;
  /* --secondary-color: #F7B1C0;
  --secondary-color-dark: #e494a6;
  --tertiary-color: #6c757d; */
  --secondary-color: rgb(47,182,170);
  --secondary-color-dark: rgb(32,152,138);
  --tertiary-color: rgb(208,58,112);
  --tertiary-color-dark: rgb(192, 37, 94);
  --off-black-color: rgb(1,21,28);
}

body {
  margin: 0;
  background-color: rgb(252, 252, 252);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron {
  height: calc(100vh - 4em);
  background-color: var(--secondary-color); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, var(--secondary-color), var(--secondary-color), var(--primary-color));
}

/* Text */

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.jumbotron h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.75em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.nav-link.tab-link {
  font-size: 1.1em;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 350;
}

.small {
  font-size: 0.75rem;
}


/* Navigation Bar */

.navbar-brand:hover {
  color: var(--secondary-color);
}

.nav-item-ds {
  color: rgb(193, 171, 214);
}

.nav-item-ds:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/* Cards */

.tab-link {
  color: var(--primary-color);
}

.tab-link:hover {
  color: var(--primary-color-dark);
}

.card-header, .card-footer {
  background-color: white;
}

.fixed-card {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}


/* Forms */

/* All Forms */ 

.form-group {
  margin-bottom: 1.2em;
}

.item-checkbox {
  width: 1em;
  height: 1em;
}

/* Profile Form */

#profileFormSwitch {
  border-color: rgba(77, 13, 137, 1);
  box-shadow: 0 0 0 4px rgba(77, 13, 137, 0.1);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2877, 13, 137, 0.5%29'/%3e%3c/svg%3e");
}

#profileFormSwitch:checked {
  background-color: rgba(77, 13, 137, 0.9);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  
}


/* Buttons */

.btn-6 {
  width: 6em;
}

.btn-12 {
  width: 12em;
}

.btn-tag {
  width: 0.75em;
  height: 0.75em;
  margin-top: 0.25em;
  padding: 0;
}

.btn-contact {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.btn-ds-primary {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.btn-ds-primary:hover {
  /* background-color:var(--secondary-color);
  color: var(--primary-color-dark);
  border-color: var(--secondary-color); */
  background-color:var(--tertiary-color);
  color: white;
  border-color: var(--tertiary-color);
}

.btn-ds-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-ds-outline-primary:hover {
  background-color: var(--primary-color-dark);
  color: white;
  border-color: var(--primary-color-dark);
}

.btn-ds-secondary {
  background-color: var(--secondary-color);
  /* color: var(--primary-color); */
  color: white;
  border-color: var(--secondary-color);
}

.btn-ds-secondary:hover {
  background-color:var(--secondary-color-dark);
  color: white;
  border-color: var(--secondary-color-dark);
}

.btn-ds-outline-secondary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-ds-outline-secondary:hover {
  background-color: var(--secondary-color-dark);
  color: var(--primary-color);
  border-color: var(--secondary-color-dark);
}

.btn-ds-tertiary {
  background-color: var(--tertiary-color);
  /* color: var(--primary-color); */
  color: white;
  border-color: var(--tertiary-color);
}

.btn-ds-tertiary:hover {
  background-color: var(--tertiary-color-dark);
  color: white;
  border-color: var(--tertiary-color-dark);
}

.btn-ds-outline-tertiary {
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.btn-ds-outline-teriary:hover {
  background-color: var(--tertiary-color-dark);
  color: var(--primary-color);
  border-color: var(--tertiary-color-dark);
}

/* Badges */

.badge {
  .close {
    margin-left: 0.25rem;
    color: inherit;
    font-size: 100%;
    text-shadow: 0 1px 0 rgba(#000000, 0.5);
  }
}

a.badge-tag:link {
  text-decoration: none;
}

.card-list-item {
  border-top-width: 0;
  border-right-width: 0;
  border-left: 0;
}


/* Accordions */

#accordionCollapse , .accordionCollapse {
  transition: none;
}


/* Branding Palette Items */

/* Backgrounds */

.bg-ds-primary {
  background-color: var(--primary-color);
}

.bg-ds-secondary {
  background-color: var(--secondary-color);
}

.bg-ds-tertiary {
  background-color: var(--tertiary-color);
}

.bg-ds-gray {
  background-color: #97999B;
}

.bg-ds-light-gray {
  background-color: #C8C9C7;
}

.bg-light-gray {
  background-color: #F4F4F4;
}

/* Borders */

.border-ds-primary {
  border: 2px solid var(--primary-color);
}

.border-ds-secondary {
  border: 2px solid var(--secondary-color);
}

.border-ds-tertiary {
  border: 2px solid var(--tertiary-color);
}

/* Text */

.text-ds-primary {
  color: var(--primary-color);
}

.text-ds-secondary {
  color: var(--secondary-color);
}

.text-ds-tertiary {
  color: var(--tertiary-color);
}

.text-off-black {
  color: var(--off-black-color);
}


/* Pages */

/* Profile Page */

p.contact {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.3em;
}

img.card-header-icons {
  max-height: 1.25em;
}

img.item-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100%;
}

/* Project */

.relative {
  position: relative;
}
