:root {
  --primary-color: #4d0d89;
  --primary-color-dark: #3b056e;
  --secondary-color: #F7B1C0;
  --secondary-color-dark: #e494a6;
  --tertiary-color: #6c757d;
}


body {
  margin: 0;
  background-color: #fbf7ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .main-content {
} */

h1 {
  text-align: center;
  margin-bottom: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.badge-tag:link {
  text-decoration: none;
}

span.required-field {
  color: #d93025;
}

.tab-link {
  color: var(--primary-color);
}

.tab-link:hover {
  color: var(--primary-color-dark);
}

.card-header, .card-footer {
  background-color: white;
}

.form-group {
  margin-bottom: 1.2em;
}

#profileFormSwitch {
  border-color: rgba(77, 13, 137, 1);
  box-shadow: 0 0 0 4px rgba(77, 13, 137, 0.1);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2877, 13, 137, 0.5%29'/%3e%3c/svg%3e");
}

#profileFormSwitch:checked {
  background-color: rgba(77, 13, 137, 0.9);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  
}

p.contact {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.3em;
}

img.card-header-icons {
  max-height: 1.25em;
}

img.item-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100%;
}

.btn-ds-primary {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.btn-ds-primary:hover {
  background-color:var(--secondary-color);
  color: var(--primary-color-dark);
  border-color: var(--secondary-color);
}

.btn-ds-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-ds-outline-primary:hover {
  background-color: var(--primary-color-dark);
  color: white;
  border-color: var(--primary-color-dark);
}

.btn-ds-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn-ds-secondary:hover {
  background-color:var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.btn-ds-outline-secondary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-ds-outline-secondary:hover {
  background-color: var(--secondary-color-dark);
  color: var(--primary-color);
  border-color: var(--secondary-color-dark);
}

.btn-6 {
  width: 6em;
}

.btn-12 {
  width: 12em;
}

.navbar-brand:hover {
  color: var(--secondary-color);
}

.nav-item-ds {
  color: rgb(193, 171, 214);
}

.nav-item-ds:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.badge {
  .close {
    margin-left: 0.25rem;
    color: inherit;
    font-size: 100%;
    text-shadow: 0 1px 0 rgba(#000000, 0.5);
  }
}

.btn-tag {
  width: 0.75em;
  height: 0.75em;
  margin-top: 0.25em;
  padding: 0;
}

.card-list-item {
  border-top-width: 0;
  border-right-width: 0;
  border-left: 0;
}

.btn-contact {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

#accordionCollapse {
  transition: none;
}

.accordionCollapse {
  transition: none;
}

.item-checkbox {
  width: 1em;
  height: 1em;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 350;
}

.small {
  font-size: 0.75rem;
}

/* DocuSourcery Branding Palette */

/* Backgrounds */

.bg-ds-primary {
  background-color: var(--primary-color);
}

.bg-ds-secondary {
  background-color: var(--secondary-color);
}

.bg-ds-tertiary {
  background-color: var(--tertiary-color);
}

.bg-pitt-gray {
  background-color: #97999B;
}

.bg-pitt-light-gray {
  background-color: #C8C9C7;
}

.bg-light-gray {
  background-color: #F4F4F4;
}


/* Borders */

.border-ds-primary {
  border: 2px solid var(--primary-color);
}

.border-ds-secondary {
  border: 2px solid var(--secondary-color);
}

.border-ds-tertiary {
  border: 2px solid var(--tertiary-color);
}


/* Text */

.text-ds-primary {
  color: var(--primary-color);
}

.text-ds-secondary {
  color: var(--secondary-color);
}

.text-pitt-tertiary {
  color: var(--tertiary-color);
}
