<div class="modal fade" id="deleteDocumentModal" name="deleteDocumentModal" 
  tabindex="-1" aria-labelledby="deleteDocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="deleteDocumentModal">Delete Document</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your document, "<%= document.title %>"? 
          <% if (document.deleted) { %>
          <strong>This action cannot be undone.</strong>
          <% } %>
        </p>
      </div>
      <div class="modal-footer">
        <form method="POST" target="_parent"
          action="/document/delete/<%= document.id %>">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>