<li class="list-group-item">
  <!-- Drag Icon -->
  <div class="col-1">
    <span class="material-symbols-outlined">
      drag_handle
    </span>
  </div>
  <!-- Page Title -->
  <div class="col-8">
    <a href="/page/<%= page.slug %>"><%= page.title %></a>
  </div>
  <!-- View and Edit Icons -->
  <div class="col-3">
    <a href="/page/<%= page.slug %>">
      <span class="material-symbols-outlined">
        visibility
      </span>
    </a>
    <a href="/page/edit/<%= page.slug %>">
      <span class="material-symbols-outlined">
        edit
      </span>
    </a>
  </div>
</li>