<h1 class="fs-6 text-start mb-2">
  Documentation Overview
</h1>
<a href="#">Principles and Objectives</a>
<a href="#">Getting Started</a>
<a href="#">Using the Data Layers Repository</a>
<a href="#" role="button" class="dropdown-btn ml-auto active">
  <div class="row">
    <div class="col-10">
      Data Dictionary
    </div>
    <div class="col-2 d-flex justify-content-end">
      <i class="fa fa-caret-down align-top"></i>
    </div>
  </div>
</a>
<div class="dropdown-container">
  <a href="#">Introduction</a>
  <a href="#">Data Standards/Schemas, Controlled Vocabularies & Encoding Schemes</a>
  <a href="#">Archival Collection Metadata Element Set</a>
  <a href="#">Serial Collection Metadata Element Set</a>
  <a href="#">Monograph Collection Metadata Element Set</a>
  <a href="#">Mixed Collection Metadata Element Set</a>
</div>
<a href="#">Application Profiles</a>
<a href="#">Metadata Element Set Chart</a>
<a href="#">Data Extraction and Transformation Workflow</a>
<a href="#">Best Practices for Creating Extension Layers</a>
<a href="#">Publishing an Extension Layer</a>