<%- include('../baseHeader') -%>
<!-- Main Content -->
<div class="container main-content my-5">
  <h1>
    About
  </h1>     

  <!-- Header -->
  <div>
    <h2>Project Description</h2>
    <p>DocuSourcery was envisioned to be a lightweight web app that makes creating,
      organizing, and publishing project documentation easy. Project documentation 
      can get unwieldy between scattered files and clunky interfaces. Our platform 
      keeps things simple yet powerful. You can start creating documentation with
      the click of a button, create metadata for your documentation assets with 
      straightforward forms, edit content using a Markdown editor, and 
      manage your assets in dashboards where you can organize documents and pages 
      using a drag-and-drop feature. When your project documentation is ready for 
      the spotlight, publishing it is just a check and click away!
    </p>
    <p>
      Our platform also enables community building through pinning projects by 
      others and following other users who create and engage with other projects. T
      his creates opportunities to connect and collaborate with like-minded people. 
    </p>
  </div>

  <!-- Tech Stack -->
  <div class="mt-5">
    <h3>How We Made It</h3>
    <div>
      <ul>
        <li><strong>Front End: </strong>HTML, CSS, JavaScript</li>
        <li><strong>Back End: </strong>Node</li>
        <li><strong>Frameworks: </strong>Express, Bootstrap</li>
        <li><strong>Database: </strong>MongoDB, Mongoose</li>
      </ul>
    </div>
    <a class="btn btn-12 btn-ds-primary" 
      role="button" href="https://github.com/tyt3/DocuSourcery/" 
      target="_blank">
      View on Github
    </a>
  </div>
  
  <!-- Project Team -->
  <div class="mt-5">
    <h3>Project Team</h3>
    <ul>
      <li><strong>Miranda Chen</strong> 
        (<a href="mailto:yac97@pitt.edu">yac97@pitt.edu</a>): Frontend Developer
      </li>
      <li><strong>Jiani Cheng</strong> 
        (<a href="mailto:jic281@pitt.edu">jic281@pitt.edu</a>): Backend Developer
      </li>
      <li><strong>Jason Ficorilli</strong> 
        (<a href="mailto:jmf194@pitt.edu">jmf194@pitt.edu</a>): Backend Developer
      </li>
      <li><strong>Tyrica Kapral</strong> 
        (<a href="mailto:tyt3@pitt.edu">tyt3@pitt.edu</a>): Product Manager, Full-stack Developer
      </li>
      <li><strong>Yue Li</strong> 
        (<a href="mailto:yul478@pitt.edu">yul478@pitt.edu</a>): Backend Developer
      </li>
    </ul>
  </div>
</div>
<%- include('../baseFooter') -%>