<%- include('../baseHeader') -%>
<!-- Landing Area -->
<div class="jumbotron">
  <div class="container py-5 text-off-black">
    <!-- Header -->
    <h1>DocuSourcery</h1>
    <div class="d-flex justify-content-center .d-none .d-md-block">
      <img style="max-width: 10em; height: auto;"
        src="https://cdn.glitch.global/c07903c4-5c80-4ac5-ad40-9074f49c6d16/Logo-temp.png?v=1713196545122">
    </div>
    <h4 class="mt-4 text-center">Sign up to begin creating documentation for your projects!</h4>
    <!--Action Buttons -->
    <div class="row gy-4 mt-5">
      <div class="col-lg d-grid gap-2 d-lg-flex justify-content-center justify-content-lg-end">
        <a class="btn btn-ds-primary btn-12 btn-lg"
          href="/signup" role="button">Get Started</a>
      </div>
      <div class="col-lg d-grid gap-2 d-lg-flex justify-content-center">
        <a class="btn btn-ds-primary btn-12 btn-lg"
          href="/projects" role="button">Browse Projects</a>
      </div>
      <div class="col-lg d-grid gap-2 d-lg-flex justify-content-center justify-content-lg-start">
        <a class="btn btn-ds-primary btn-12 btn-lg"
          href="/about" role="button">Learn More</a>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container main-content my-5">
</div>
<%- include('../baseFooter') -%>
